@import url('https://fonts.googleapis.com/css?family=Aldrich|Oswald');

* {
  margin: 0!important;
  padding: 0!important;
}

header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Aldrich', sans-serif;
  font-size: 300%;
  text-transform: uppercase;
  line-height: 100%;
}

nav {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Aldrich', sans-serif;
  padding: 60px 0!important;
  text-transform: uppercase;
  line-height: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  /* margin-top: -3px!important; */
}

.header {
  flex-direction: column;
  padding: 40px 0px!important;
}

.nav {
  padding: 0px 18rem!important;
}

.mainLogo {
  font-size: 150%;
}

.menuItem {
  padding: 0 8px!important;
  font-size: 90%;
}

.slogans {
  text-align: center;
  font-size: 330%;
}

.fstSlogan, .scdSlogan, .soloSlogan {
  padding: 90px 0!important;
}

.scdSlogan {
  background-color: #000;
  color: #fff;
}

.banners {
  text-align: center;
  background-color: #000;
  flex-direction: row;
}

.bannerOne {
  background-color: #fff;
}

.bannerOneLogo {
  flex-direction: column;
  height: 60%;
}

.bannerTwo {
  background-color: #000;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  padding: 110px 60px 70px 60px!important;
}

.bannerTwo div {
  margin-bottom: 40px!important;
  width: 100%;
}

.logoWrapper {
  background-color: #000;
}

.logo {
  background-color: #000;
  color: #fff;
  flex-direction: column;
  font-family: 'Aldrich', sans-serif;
  font-size: 200%;
  padding: 110px 0 90px 0!important;
  text-transform: uppercase;
}

.bannerOneText {
  padding: 40px 40px 90px 40px!important;
  background-color: #fff;
  font-weight: bold;
}

.bright {
  color: rgb(100, 100, 100);
}

.theBrightest {
  color: #fff;
  font-size: 200%;
}

.bannerThree {
  background-color: #fff;
  flex-direction: column;
}

.bannerThreeLogo {
  height: 60%;
  padding-top: 110px!important;
}

.logoThree {
  font-size: 250%;
  text-transform: uppercase;
  line-height: 90%;
}

.bannerThreeText {
  padding: 40px 40px 90px 40px!important;
  font-size: 80%;
  font-weight: bold;
}

.contactImg {
  width: 30px;
  height: 30px;
}

.fstFooter {
  flex-direction: column;
  padding-left: 10px!important;
}

.secFooter {
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 90px!important;
}

.h2 {
  font-weight: bold;
  font-size: 100%;
}

.footerSlogan {
  font-size: 80%;
  color: rgb(151, 151, 151);
}

.fstFooterWrapper .d-flex {
  margin-bottom: 5px!important;
  font-size: 80%;
}

.fstFooterWrapper .d-flex img {
  margin-right: 10px!important;
}

.secFooterSection {
  padding-right: 10px!important;
}

.rights div{
  text-align: center;
  font-size: 100%;
  margin-top: 80px!important;
  border-radius: 30px;
  border: 2px solid #fff;
  padding: 20px 40px!important;
  margin-bottom: 20px!important;
}

@media (max-width: 1199.98px) {
  .mainLogo {
    margin-top: 50px!important;
    margin-bottom: 50px!important;
  }

  header {
    font-size: 210%;
  }

  .header {
    padding: 40px 0px!important;
  }

  .slogans {
    font-size: 250%;
  }

  .logo, .theBrightest {
    font-size: 130%;
  }

  .brighter {
    font-size: 80%;
    margin-bottom: 40px!important;
  }

  .bright {
    font-size: 85%;
  }

  .logoThree {
    font-size: 190%;
  }

  .bannerOneText {
    padding: 40px 20px 0 20px!important;
    font-size: 85%;
  }
  
  .bannerThreeText {
    padding: 40px 20px 0 20px!important;
    font-size: 85%;
    line-height: 100%;
  }

  .bannerTwo {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
}

@media (max-width: 991.98px) {

  .soloSlogan {
    box-shadow: inset 230px 0px 0px #000!important;
  }

  .bright, .bannerOneText, .bannerThreeText {
    font-size: 70%;
  }
}

@media (max-width: 767.98px) {

  header {
    font-size: 170%;
  }

  .logo, .theBrightest {
    font-size: 100%;
  }

  .slogans {
    font-size: 150%;
  }

  .fstSlogan, .scdSlogan, .soloSlogan {
    padding: 70px 0!important;
  }

  .soloSlogan {
    box-shadow: inset 180px 0px 0px #000!important;
  }

  .mainLogo {
    font-size: 100%;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
  }

  .menuItem {
    font-size: 70%;
  }

  .bannerTwo {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }

  .logoThree {
    font-size: 150%;
  }

  .h2 {
    font-size: 70%;
  }

  .footerSlogan {
    font-size: 60%;
  }

  .adress, .phone, .email {
    font-size: 60%!important;
  }
}

@media (max-width: 575.98px) {

  nav {
    margin-top: -1px!important;
    padding: 30px 0!important;
  }

  .footer {
    padding: 80px 10px 0 10px!important;
  }

  .nav {
    padding: 0!important;
  }

  .soloSlogan {
    box-shadow: inset 60px 0px 0px #000!important;
    margin-top: -1px!important;
  }

  .logo {
    font-size: 80%;
    padding: 40px 5px!important;
  }

  .theBrightest {
    font-size: 70%;
  }

  .bannerOne {
    margin-right: -1px!important;
    box-shadow: inset 30px 0px 0px #000!important;
  }

  .bannerOneText {
    padding: 20px!important;
    font-size: 57%;
  }

  .bannerThreeText {
    font-size: 55%;
  }

  .bannerTwo {
    padding: 40px 20px!important;
  }

  .banners {
    flex-direction: column;
  }

  .bannerThree {
    padding-bottom: 40px!important;
    box-shadow: inset -30px 0px 0px #000, inset 30px 0px 0px #000!important;
  }

  .bannerThreeLogo {
    padding-top: 40px!important;
  }

  .h2 {
    font-size: 140%;
  }

  .footerSlogan {
    font-size: 70%;
  }

  .adress, .phone, .email {
    font-size: 80%!important;
  }

  .contactImg {
    width: 35px;
    height: 35px;
  }

  .secFooterSection {
    padding: 0 10px!important;
  }

  .secFooter {
    margin-top: 80px!important;
  }

  .rights div{
    font-size: 70%;
    padding: 10px 20px!important;
  }
}